---
title: Your blog post title
description: A short description of your blog post
date: '2024-07-04'
published: true
---

This is a sample blog post.

Here is some code:
```rust
impl From<Dongle> for Rabblar {
    fn from(value: Dongle) -> Rabblar {
        Rabbler {
            whosle: value.whumsit,
            dorbsie: "slong",
            shimple: 12 + 51,
        }
    }
}
```
